FIRST PYTHON CODE

In [1]:
print("Hello Python World")

Hello Python World

PYTHON COMMENTS

In [1]:
# This is single line comment.

In [2]:
print("Hello World") # This is inline comment.

Hello World

In [6]:
# This is first comment of multi-line comment
# This is second comment of multi-line comment
# And So on..

VARIABLES

In [7]:
a = 2
print(a)
print(type(a))

2
<class 'int'>

In [9]:
b = 2
c = 2.3
print(b,c)

2 2.3

In [10]:
x = "Apple"
print(x)

Apple

In [6]:
Fruit = "Mango"
print(Fruit)
print(type(Fruit))

Mango
<class 'str'>

In [17]:
student1 = "Om"
student2 = "Jay"
print(student1+","+student2)

Om,Jay

In [2]:
x,y,z = "Apple", "Mango", "Cheery"
print(x,y,z)

Apple Mango Cheery

In [4]:
x=y=z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

DATA TYPES

In [9]:
A = 2
print(type(A))

<class 'int'>

In [10]:
B = 2.23
print(type(B))

<class 'float'>

In [12]:
C = "Apple"
print(type(C))

<class 'str'>

In [13]:
D = [1,2,3,4,5,6,7,8,9,10]
print(type(D))

<class 'list'>

In [14]:
E = (1,2,3,4,5,6,7,8,9,10)
print(type(E))

<class 'tuple'>

In [15]:
F = {1,2,3,4,5,6,7,8,9,10}
print(type(F))

<class 'set'>

In [20]:
G = 3+5j
print(type(G))

<class 'complex'>

In [21]:
%whos

Variable   Type       Data/Info
-------------------------------
A          int        2
B          float      2.23
C          str        Apple
D          list       n=10
E          tuple      n=10
F          set        {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Fruit      str        Mango
G          complex    (3+5j)
a          int        2
x          str        Orange
y          str        Orange
z          str        Orange

Pyhton - OPERATORS

In [23]:
a = 5 
b = 10
print(a+b)

15

In [24]:
a = 10 
b = 2.3 
print(a+b)

12.3

In [26]:
a = "Hello"
b = "World"
print(a+" "+b)

Hello World

In [27]:
a = "Hello "
b = " World"
print(a+b)

Hello  World

In [28]:
a = 10 
b = 4 
print(a-b)

6

In [29]:
a = 10 
b = 2.3
print(a-b)

7.7

In [30]:
a = 5+6j
b = 2
print(a+b)
print(a-b)

(7+6j)
(3+6j)

In [31]:
a = 3 
b = 2 
print(a*b)

6

In [32]:
a = 3 
b = 2.5
print(a*b)

7.5

In [33]:
a = 8
b = 2 
print(a/b)

4.0

In [34]:
a = 9
b = 4.5
print(a/b)

2.0

In [35]:
a = 9
b = 2 
print(a%b)

1

In [36]:
a = 8
b = 2 
print(a%b)

0

In [37]:
a = 774673
b = 88
print(a**b)

174751504498430397037735824363604787588901184430254256815988707712519159702636094325147101511753192504227706714001079389397183715123618503777746822329444407296669188384676135413479185031286876158664483202727540981057602168109312563478547653080191056256155351433341781120765719414036702269162896747856839581646949495041293101511880972190025161672273714591194120967708855647731042121601068908264413006138358338165842686119551443176134660568810170216879180418574443369286582839420709406117964220964055123738807957704452481

In [38]:
a = 3 
b = 3
print(a**b)

27

In [1]:
a = True
b = False
print(a and b)

False

In [4]:
a = False
b = True
print(a and b)

False

In [5]:
a = True
b = True
print(a and b)

True

In [6]:
a = False
b = False
print(a and b)

False

In [7]:
a = True
b = False
print(a or b)

True

a = False
b = True
print(a or b)

In [9]:
a = True
b = True
print(a or b)

True

In [10]:
a = False
b = False
print(a or b)

False

PYTHON- FUNCTIONS

1. User Defined Function

In [14]:
def greet():
    print("Hello, Welcome to Python!")
greet()

Hello, Welcome to Python!

In [3]:
def greet(name):
    print(f"Hello,{name} Welcome to Python!")
greet("Om")

Hello,Om Welcome to Python!

In [5]:
def my_function(fname, lname):
    print(fname+" "+lname)
my_function("Om", "Dhale")

Om Dhale

In [9]:
def electricity_bill(n):
    if n<=500:
        print("Your Electricity Bill is ", n*5)
    elif n>500 and n<=700:
        print("Your Electricity Bill is ", n*10)
    elif n>700 and n<=1000:
        print("Your Electricity Bill is ", n*15)
    else:
        print("Your Electricity Bill is ", n*20)

get_name = input("Enter your name: ")
n = int(input("Enter electricity units: "))
electricity_bill(n)

Enter your name:  Kunal Udawant
Enter electricity units:  1100

Your Electricity Bill is  22000

2. In-built Functions

In [18]:
a = abs(-7.5)
print(a)

7.5

In [19]:
a = abs(-8)
print(a)

8

In [20]:
a = abs(3+5j)
print(a)

5.830951894845301

In [24]:
a = bin(36)
print(a)
print(type(a))

0b100100
<class 'str'>

In [27]:
a = bytes(4)
print(a)
print(type(a))

b'\x00\x00\x00\x00'
<class 'bytes'>

In [29]:
a = chr(99)
print(a)
print(type(a))

c
<class 'str'>

In [30]:
a = complex(3,5)
print(a)
print(type(a))

(3+5j)
<class 'complex'>

In [31]:
a = complex(3.5, 5.5)
print(a)

(3.5+5.5j)

In [32]:
a = float(3)
print(a)

3.0

In [36]:
a = int(3.1)
print(a)

3

In [37]:
a = str(9)
print(type(a))

<class 'str'>

In [1]:
a = input("Enter Your Name: ")
b = input("Enter Your Age: ")
print(a)
print(b)

Enter Your Name:  Om
Enter Your Age:  24

Om
24

CONTROL FLOW STATEMENT

1. IF statement - write a program to calculate the percentage of student, also determine the grade and remarks according to percentage.

In [3]:
name = input("Enter the name of student: ")

a = int(input("Enter Marathi marks: "))
b = int(input("Enter Hindi marks: "))
c = int(input("Enter English marks: "))
d = int(input("Enter Social Science marks: "))
e = int(input("Enter Science marks: "))

n = (a+b+c+d+e)/500*100

print(f"The percentage of {name} is ", round(n))

if n >= 90:
    print("Grade: A| Remarks: Outstanding")
if n >= 75 and n < 90:
    print("Grade: B| Remarks: Excellent")
if n >= 60 and n < 75:
    print("Grade: C| Remarks: Good")
if n >= 40 and n < 60:
    print("Grade: D| Remarks: Average")
if n >= 35 and n < 40:
    print("Grade: E| Remarks: Pass")
if n < 35:
    print("Grade: F| Remarks: Fail")

Enter the name of student:  Om
Enter Marathi marks:  73
Enter Hindi marks:  80
Enter English marks:  56
Enter Social Science marks:  95
Enter Science marks:  96

The percentage of Om is  80
Grade: B| Remarks: Excellent

2. IF ELSE statement

In [5]:
a = int(input("Enter the number: "))
if a > 0:
    print(a," is Positive Number")
else:
    print(a," is Negative Number")

Enter the number:  -88

-88  is Negative Number

In [4]:
a = int(input("Enter the number: "))
if a%5==0:
    print("Multiple")
else:
    print("Non Multiple")

Enter the number:  8

Non Multiple

3. IF ELIF ELSE Statement

In [7]:
city = input("Enter the city: ")
if city == "Delhi":
    print("Akshardham Temple")
elif city == "Mumbai":
    print("Atal Setu")
elif city == "Pune":
    print("Dagdusheth Halwai Temple")
elif city == "Sambhajinagar":
    print("Kailash Tample")
else:
    print("Not Available")

Enter the city:  Nashik

Not Available

LOOPS IN PYTHON

1. While Loop

In [2]:
i = 1 
n = 5
while i<=5:
    print(i)
    i = i+1

1
2
3
4
5

In [5]:
x = int(input("Enter the Number: "))
i = 1
while i<=10:
    print(x*i)
    i = i+1

Enter the Number:  8

8
16
24
32
40
48
56
64
72
80

2. For Loop

In [7]:
fruits = ["Apple", "Banana", "Cheery"]
for x  in fruits:
    print(x)

Apple
Banana
Cheery

In [8]:
for x in "Om Shrikant Dhale":
    print(x)

O
m

S
h
r
i
k
a
n
t

D
h
a
l
e

In [9]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [10]:
for x in range(3,10):
    print(x)

3
4
5
6
7
8
9

PYTHON STRINGS

In [22]:
# 1. Creating String
string = "Python"
print(string)

# 2. Immutability

""" string = "D" + string[1:] 
print(string) """

# 3. Indexing & slicing

print(string[1])
print(string[-1])
print(string[1:4])
print(string[:3])
print(string[3:])
print(string[::-1])

# 4. Core Operations

print(len(string))       # count the characters of string

print("Py" in string)    # membership

s = string + " Programming"     # concatenation 
print(s)

m = string*3                   # repetition
print(m)

# 5. Essential String Methods 

  # A. Whitespace Trimming

a = " Python "
print(a.strip())      # 'python'
print(a.lstrip())     # ' python'
print(a.rstrip())     # 'python '

b = "--Python--"
print(b.strip("-"))   # 'hi'

# B. Case Conversion

print("python".upper())      #Convert to UPPERCASE
print("PyThOn".lower())      #Convert to LOWERCASE
print("straße".casefold())  # best for case-insensitive compare
print("python".title())
print("Python".swapcase())

# C. Testing/ Inspection

print("123".isdigit())      # True      (Unicode digits too)
print("Ⅻ".isnumeric())     # True      (Roman numeral)
print("12.3".isdecimal())  # False
print("abc123".isalnum())  # True
print("abc".isalpha())     # True
print("   ".isspace())     # True
print("Hello".isascii())   # True or False depending on chars

# D. Search & Replace

s = "banana"
print(s.find("na"))        # 2   (or -1 if not found)
print(s.rfind("na"))       # 4
print(s.index("na"))       # 2   (ValueError if not found)
print(s.count("na"))       # 2
print(s.replace("na", "NA"))         # 'baNANA'
print(s.removeprefix("ba"))          # 'nana'  (Py 3.9+)
print(s.removesuffix("na"))          # 'bana'

# E. Split & Join

print("a,b,c".split(","))          # ['a','b','c']
print("one  two   three".split())  # ['one','two','three']  # any whitespace
print("a|b|c".rsplit("|", 1))      # ['a|b','c']
print("key:value".partition(":"))  # ('key', ':', 'value')  # always 3 parts
print("\nLine1\nLine2".splitlines())  # ['','Line1','Line2']
print(",".join(["a","b","c"]))     # 'a,b,c'   # efficient concatenation

Python
y
n
yth
Pyt
hon
nohtyP
6
True
Python Programming
PythonPythonPython
Python
Python
 Python
Python
PYTHON
python
strasse
Python
pYTHON
True
True
False
True
True
True
True
2
4
2
2
baNANA
nana
bana
['a', 'b', 'c']
['one', 'two', 'three']
['a|b', 'c']
('key', ':', 'value')
['', 'Line1', 'Line2']
a,b,c

PYTHON LIST

In [42]:
# Creating List
L1 = [1,2,3,4,5]
print(L1)
print(type(L1))

L2 = [1.1,2.2,3.3,4.4,5.5]
print(L2)
print(type(L2))

L3 = ["Apple", "Banana", "Cherry"]
print(L3)
print(type(L3))

L4 = [True, False]
print(L4)
print(type(L4))

L5 = [1,2, 1.1, 2.2, -8, -2, "Apple", "Banana", True, False]
print(L5)
print(type(L5))

print("Length of List: ",len(L5))     # Getting Lenght of List

empty_list = []
print(empty_list)

nested_list = [1, (2, 3), [4, 5]]   # Nested list
print(nested_list)


# Accessing list 


L6 = list(range(1,25))
print(L6)

# Indexing List
print(L6[5])
print(L6[-1])

# Slicing List
print(L6[3:9])
print(L6[:3])
print(L6[3:])
print(L6[::-1])
print(L6[0:23:2]) 

# Modifying List.

L5 [-1] = "Tiger"
print(L5)
L5[2:5] = ["Banana", "Mango", "Guava"]
print(L5)

L7 = [1,2,3,4,5,"apple", "banana", "guava", "mango"]
print(L7)

L7.append("papaya")
print(L7)

L7.remove(3)
print(L7)

L7.reverse()
print(L7)

L7.insert(1, "Kesariya")
print(L7)

popped = L7.pop(2)
print(popped)
print(L7)

L8 = list(range(1,25))
print(L8)
print(len(L8))

a = 0
for i in range(24):
    a = a+L8[i]
    i = i+1
print("The sum of list is ",a)

[1, 2, 3, 4, 5]
<class 'list'>
[1.1, 2.2, 3.3, 4.4, 5.5]
<class 'list'>
['Apple', 'Banana', 'Cherry']
<class 'list'>
[True, False]
<class 'list'>
[1, 2, 1.1, 2.2, -8, -2, 'Apple', 'Banana', True, False]
<class 'list'>
Length of List:  10
[]
[1, (2, 3), [4, 5]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
6
24
[4, 5, 6, 7, 8, 9]
[1, 2, 3]
[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
[24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]
[1, 2, 1.1, 2.2, -8, -2, 'Apple', 'Banana', True, 'Tiger']
[1, 2, 'Banana', 'Mango', 'Guava', -2, 'Apple', 'Banana', True, 'Tiger']
[1, 2, 3, 4, 5, 'apple', 'banana', 'guava', 'mango']
[1, 2, 3, 4, 5, 'apple', 'banana', 'guava', 'mango', 'papaya']
[1, 2, 4, 5, 'apple', 'banana', 'guava', 'mango', 'papaya']
['papaya', 'mango', 'guava', 'banana', 'apple', 5, 4, 2, 1]
['papaya', 'Kesariya', 'mango', 'guava', 'banana', 'apple', 5, 4, 2, 1]
mango
['papaya', 'Kesariya', 'guava', 'banana', 'apple', 5, 4, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
24
The sum of list is  300

PYTHON TUPLE

In [5]:
# Creating Tuple

T1 = (1,2,3,4,5,6)
print(T1)
print(type(T1))

T2 = (1.1, 1.2, 1.3, 1.4, 1.5)
print(T2)
print(type(T2))

T3 = ("Apple", "Banana", "Cheery")
print(T3)
print(type(T3))

T4 = (True, False)
print(T4)
print(type(T4))

T5 = (1,2, 1.1, 2.2, -8, -2, "Apple", "Banana", True, False)
print(T5)
print(type(T5))

print("Length of Tuple: ",len(T5))     # Getting Lenght of Tuple

empty_tuple = ()
print(empty_tuple)

nested_tuple = (1, (2, 3), [4, 5])   # Nested tuple
print(nested_tuple)

tuple = 1,2,3
print(type(tuple))  # Tuple without parentheses (Python allows this)

# Accessing Tuple  

T6 = (1,2,3,4,5,6,7,8,9,10)

# Indexing Tuple 
print(T6[0]) 
print(T6[-1])   
print(T6[1:3])  

# Slicing Tuple 

print(T6[3:9])
print(T6[:3])
print(T6[3:])
print(T6[::-1])
print(T6[0:9:2])

# Tuple Operations

t1 = (1, 2, 3)
t2 = (4, 5)

# Concatenation
print(t1 + t2)     # (1, 2, 3, 4, 5)

# Repetition
print(t1 * 2)      # (1, 2, 3, 1, 2, 3)

(1, 2, 3, 4, 5, 6)
<class 'tuple'>
(1.1, 1.2, 1.3, 1.4, 1.5)
<class 'tuple'>
('Apple', 'Banana', 'Cheery')
<class 'tuple'>
(True, False)
<class 'tuple'>
(1, 2, 1.1, 2.2, -8, -2, 'Apple', 'Banana', True, False)
<class 'tuple'>
Length of Tuple:  10
()
(1, (2, 3), [4, 5])
<class 'tuple'>
1
10
(2, 3)
(4, 5, 6, 7, 8, 9)
(1, 2, 3)
(4, 5, 6, 7, 8, 9, 10)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
(1, 3, 5, 7, 9)
(1, 2, 3, 4, 5)
(1, 2, 3, 1, 2, 3)
<class 'tuple'>

PYTHON SET

In [28]:
# Creating Set
s1 = {1,2,3,4,5}
print(s1)

s2 = {1.1,2.2,3.3,4.4,5.5}
print(s2)

s3 = {"Apple", "Banana", "Cherry"}
print(s3)

s4 = {True, False}
print(s4)

s5 = {1,2,1.1,2.2,3+5j,"Apple", "Banana",True, False}
print(s5)

dup_set = {1, 2, 2, 3, 4}
print(dup_set)  # {1, 2, 3, 4}    # Duplicates are removed


empty_set = set()  # Correct way    # Empty set
print(type(empty_set))  # <class 'set'> 

wrong_set = {}   # This creates a dictionary, not a set
print(type(wrong_set))  # <class 'dict'>

# Adding & Removing Elements

s = {1,2,3,4,5,6,7,8,9,10}

s.add(11)
print(s)  # Add element

s.update([12,13,14])
print(s)  # Add multiple elements

# s.remove(15)
# print(s)   # Remove element (error if not present)

s.discard(15) # Discard element (no error if not present)
print(s)

s.pop()
print(s)  # Removes some random element 


# Mathematical Set Operations 

A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print(A | B)        # {1, 2, 3, 4, 5, 6} # Union
print(A.union(B))   # {1, 2, 3, 4, 5, 6} # Union


print(A & B)               # {3, 4}   # Intersection
print(A.intersection(B))   # {3, 4}   # Intersection

print(A - B)      # {1, 2}        # Difference
print(A.difference(B))  # {1, 2}    # Difference


print(A ^ B)                       # {1, 2, 5, 6}        # Symmetric Difference
print(A.symmetric_difference(B))   # {1, 2, 5, 6}        # Symmetric Difference


# Example Use Case

nums = [1, 2, 2, 3, 4, 4, 5]
unique_nums = list(set(nums))
print(unique_nums)                 # removing duplicates

class_A = {"Alice", "Bob", "Charlie"}
class_B = {"Charlie", "David", "Alice"}

print(class_A & class_B)                    # Taking Common Students from class A and B

{1, 2, 3, 4, 5}
{1.1, 2.2, 3.3, 4.4, 5.5}
{'Apple', 'Cherry', 'Banana'}
{False, True}
{False, 1, 2, 2.2, 1.1, (3+5j), 'Banana', 'Apple'}
{1, 2, 3, 4}
<class 'set'>
<class 'dict'>
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{1, 2, 5, 6}
{1, 2, 5, 6}
[1, 2, 3, 4, 5]
{'Charlie', 'Alice'}

PYTHON DICTIONARY

In [36]:
# Creating Dictionary

employee = {
    "name" : "Om",
    "age" : 24,
    "profession" : "Data Analytics"
}
print(employee)

d = {1 : "One", "Two" : 2, (3,4) : "tuple as key"}      # valid dictionary
print(d)


 # d = {[1,2] : "list"}   # invalid dictionary


d1 = {}     # Empty dictionary
print(d1)


d2 = {"brand": "AtliQ", "type": "Laptop", "price": 60000}   # With data
print(d2)

d3 = dict(name="Om", age = 24, role="Data Analyst")  # Using dict() constructor
print(d3)

# Accessing Dictionary Elements

print(employee["name"])    # Access using key
print(employee.get("age"))  # Using get() method (avoids error if key doesn’t exist)
print(employee.get("grade", "Not Assigned")) # Using get() method (avoids error if key doesn’t exist)

# Adding and Updating key Items

employee["education"] = "MCA"   # Add new key-value pair
print(employee)

employee["name"] = "Om Dhale"  # Update value
print(employee)

# Removing Dictionary Items

car = {"brand": "Tesla", "model": "Model S", "year": 2024}
print(car)

car.pop("model")   # pop() → removes item by key
print(car)

car.popitem() # popitem() → removes last inserted key-value
print(car)

del car["brand"]     # del → remove item by key or delete dictionary, # del car → deletes whole dictionary
print(car)

car.clear()   # clear() → empties dictionary
print(car)

# Looping Through Dictionary

for key in employee:
    print(key)              # Loop keys

for values in employee.values():
    print(values)          # Loop values

for key, values in employee.items():
    print(key, ":", values)    # Loop both key and value

# Nested Dictionary 

company = {
    "employee1": {"name": "Om", "role": "Analyst"},
    "employee2": {"name": "Raj", "role": "Developer"}
}

print(company["employee2"]["role"])  

# Dictionary Comprehension

squares = {x: x*x for x in range(1, 6)}
print(squares)    # Square of numbers using dictionary comprehension

{'name': 'Om', 'age': 24, 'profession': 'Data Analytics'}
{1: 'One', 'Two': 2, (3, 4): 'tuple as key'}
{}
{'brand': 'AtliQ', 'type': 'Laptop', 'price': 60000}
{'name': 'Om', 'age': 24, 'role': 'Data Analyst'}
Om
24
Not Assigned
{'name': 'Om', 'age': 24, 'profession': 'Data Analytics', 'education': 'MCA'}
{'name': 'Om Dhale', 'age': 24, 'profession': 'Data Analytics', 'education': 'MCA'}
{'brand': 'Tesla', 'model': 'Model S', 'year': 2024}
{'brand': 'Tesla', 'year': 2024}
{'brand': 'Tesla'}
{}
{}
name
age
profession
education
Om Dhale
24
Data Analytics
MCA
name : Om Dhale
age : 24
profession : Data Analytics
education : MCA
Developer
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}